body {
    background: linear-gradient(95deg, rgb(189, 193, 196), rgb(164, 165, 165));
}

.grid {
  border: 2px rgb(67, 77, 85) solid;
  width: 700px;
  height: 4900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.25fr;
  grid-template-rows: 0.085fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
}

.box {
  font-size: 11px;
  color: black;
  border-radius: 5px;
  border: 2px rgb(40, 100, 128) solid;
}

.num {
  font-size: 11px;
}