body {
  font-family: cursive;
  font-size: 99px;
  color: rgb(8, 8, 8);
  background: linear-gradient(-45deg, rgb(230, 220, 201), lightgray);
  background-image: url(https://lh3.googleusercontent.com/a-/AAuE7mC7ALNxZZSFukPN9wfCrhLY1f3o7QvlaHazLCMRrA=s40)
}